In [18]:
import pandas as pd 
import numpy as np
import plotly.express as px

In [19]:
result_path = "../data/TSNE_train_embeddings_clusters.csv"
row_data = "../data/t-SNE_projected.csv"
centoids_path = "../data/centroids.csv"
cl_data = pd.read_csv(result_path)
row_data = pd.read_csv(row_data)
centoids = pd.read_csv(centoids_path)

In [20]:
# fig_points = px.scatter(cl_data, x="x", y="y", color="cluster")
cl_data

        id  cluster         distance          x   y
0        0        8   81.152384.6114   5.095790 NaN
1        1        8   36.446639.9529   0.610623 NaN
2        2       18  18.7542-23.9988  -0.274472 NaN
3        3        0   65.4149-11.991 -69.579900 NaN
4        4       18  25.4235-29.8081  14.710200 NaN
...    ...      ...              ...        ...  ..
9995  9995       18  67.3274-14.9009  71.873300 NaN
9996  9996       18  50.4245-53.9188  24.012700 NaN
9997  9997        8   91.499593.0997 -16.870500 NaN
9998  9998        0   37.6518-39.319 -18.621900 NaN
9999  9999        0  64.1603-21.3546 -65.653900 NaN

[10000 rows x 5 columns]